<launch>
  <!-- Image processing methods -->
  <arg name="filter" default="blur"/>
  <!-- OPTIONS: median blur gaussian bilateral -->
  <arg name="kernel" default="3"/>

  <arg name="edge" default="canny"/>
  <!-- OPTIONS: sobel canny laplacian -->

  <arg name="line" default="houghlines"/>
  <arg name="houghThreshold" default="150"/>

  <!-- Debug options -->
  <arg name="show_images" default="true"/>

  <!-- Image processing node -->
  <node pkg="plt_cv" type="img_proc" name="image_preprocessing_node" output="screen">
    <param name="filter_method" value="$(arg filter)" />
    <param name="filter_method_kernel_sz" value="$(arg kernel)" />
    <param name="edge_method" value="$(arg edge)" />
    <param name="lineDetector_method" value="$(arg line)" />
    <param name="hough_treshold" value="$(arg houghThreshold)" />
    <param name="show_images" value="$(arg show_images)" />
  </node>

</launch>