<launch>
  <arg name="cables_max_dist" default="4"/>

  <!-- Debug options -->
  <arg name="show_images" default="true"/>

  <!-- Image size -->
  <param name="image_H" value="360" />
  <param name="image_W" value="640" />

  <!-- Image processing node -->
  <node pkg="plt_cv" type="line_tracking" name="line_tracking_node" output="screen">
    <param name="cables_max_dist" value="$(arg cables_max_dist)" />
    <param name="show_images" value="$(arg show_images)" />
  </node>
</launch>