[ req ]
default_bits        = 2048
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName         = BR
stateOrProvinceName = São Paulo
localityName        = São Paulo
organizationName    = OXYMED COMERCIO E LOCACAO DE EQUIPAMENTO
organizationalUnitName = OXYMED
commonName          = www.oximed.com.br
emailAddress        = wanderokl@msn.com.br
serialNumber        = CNPJ: 8.052.160/0057-01

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
basicConstraints    = CA:true
keyUsage            = digitalSignature, keyEncipherment, keyCertSign
extendedKeyUsage    = serverAuth, clientAuth
