<launch>
    <!-- Rosbag configs-->
    <arg name="path" default="$(find plt_resources)/bagfiles/" />
    <arg name="bagfile" default="missionZ15-20-18" />
    <arg name="factor" default="1" />
    <arg name="start_sec" default="0" />


    <arg name="option" default=""/>

    <!-- <arg name="duration_sec" default="0" /> -->

    <!-- Play Bagfile -->
    <node pkg="rosbag" type="play" name="player" args="--clock -r $(arg factor) $(arg option) $(arg path)$(arg bagfile).bag" required="true" />
</launch>